:root {
    --color-primario: #FF5733; 
    --color-secundario: #FFC300; 
    --color-terciario: #C70039;
      
}
.contenedor {
    max-width: 800px; 
    margin: auto; 
    padding: 20px; 
}

h1 {
    font-size: 2em;
    color: var(--color-primario);
}

p {
    color: var(--color-secundario); 
    font-size: 1.2em;
}
body {
    background-color: var(--color-terciario);
    font-family: 'Courier New', Courier, monospace;

}

img{
    width: 50%;
}

